html {
   --border-color: blue
}

.image {
   border: 1px solid var(--border-color);
   margin: 0.5em 0;
   object-fit: cover;
}

canvas {
   display: none;
   object-fit: cover;
   background: red;
}

.mono {
   font-weight: bold;
}

.page {
   padding-top: 1.5em;
}

.saved {
   color: green;
   font-size: 1.5em;
   minHeight: 3em;
}
.saving {
   color: red;
   font-size: 1.5em;
   min-height: 3em;
}