html {
   --border-color: blue
}


.image {
   border: 1px solid var(--border-color);
   /* width: 10em;
   height: 10em;*/
   margin: 0.5em 0;
   object-fit: cover;
}

canvas {
   /* display: none; */
   object-fit: cover;
   background: red;
}